fastapi[standard]
uvicorn
pydantic
agno
openai
groq
langchain
langgraph
langsmith
langchain-core
langchain-community
langchain-mcp-adapters
starlette
langchain-openai
langchain-groq
pinecone
rank-bm25
redis
pyjwt
bcrypt